<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="Author" content="Vahid Saljooghi" />
    <meta name="Description" content="Live Monitoring of receiving log messages  from remote machines" />
    <meta name="keywords" content="Watchdog Observer, Real-time, Flask, Web Socket" /> 
    <link rel="icon" type="image/png" href={{ url_for('static', filename='img/shaparak.png') }}>
    
    
    {% block headcontent %}
    {% endblock headcontent %}
  </head>
  
  <body>
    {% block bodycontent %}
    {% endblock bodycontent %}
   </body>
</html>
